.authForm {
  width: 50%;
  .ui.fluid.input > input {
    font-size: 20px;
  }
  .ui.fluid.input > input:focus {
    border-left: 4px solid yellow;
  }
}

.no_space_input {
  margin: 0 !important;
}
.ui.form .field {
  margin: 0;
}

.ui.form .field input {
  border: 1px solid $light_grey;
  border-radius: 0;
  background: transparent;
  color: $text_color;
}
.error_text {
  color: red !important;
}
.agreement_checkbox {
  margin: 1rem 0;
}
.ui.button.login_button {
  background-color: $yellow;
  margin-right: 30px;
}
